.fluid-container{
border: 1px red solid;
display: flex;

}

.map {
  margin: 55px 55px;
  border: solid black 12px;
  border-radius: 6px;
  width: 744px;
  height: 722px;
}

.side{
  display:inherit;
  flex-direction: column;
  border: 1px red solid;
  margin:20px;
  width: 100%;
}

.sideHigh{
  border: 1px rgb(34, 255, 0) solid;
  margin: 10px 20px;
  height: 80%;
}

.sideLow{
  border: 1px rgb(0, 179, 255) solid;
  margin: 10px 20px;
  height: 80%;
}

nav{
  border: 1px red solid;
  text-align: right;
  margin-right: 5%;
  margin-top:15px;
  margin-bottom: 15px;
}

button{
  border: 1px gray solid
}